@import "reset.css";
.hidden{
    display: none;
}

body{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
    
    
}

 #no-mobile {
    position: absolute;
    z-index: 99;
    height: 100vh;
    background-color: white;
    color: black;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    top: 0;
  }
  
  @media screen and (max-width: 645px) {
    #no-mobile {
      display: none;
    }
  }
   

  .header{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .nav{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 8px;
    color: white;
  }


  #login-form{
    position: relative;
    top: -250px;
    text-align: center;
  }

  #name{
    margin-top: 50px;
    border:none;
    border-bottom: 1px solid black;
    color: white;
    padding: 10px;
    background:transparent;
    margin-right: 10px;
  }
  #name::placeholder{
    color:white
  }



.main{
    
    height: 80%;
    width: 80%;
    background-color: white;
    position: relative;
    top:-30px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.user{
    margin-top: 40px;
}
#greeting{
    color: rgb(71, 64, 51);
    font-size: 15px;
    
    
    
}

#todo-form{
    margin-top: 40px;
    width: 80%;
}

#todo-input{
    width: 100%;
    border: none;
    background:transparent;
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


#todo-list{
    overflow: auto;
    margin-top: 40px;
    width: 80%;
    height: 70%;
    margin-bottom: 20px;

}




  #todo-list::-webkit-scrollbar {
      width: 10px;  
  }
  
  #todo-list::-webkit-scrollbar-thumb {
      height: 30%; 
      background: #b4cdf0; 
      
      border-radius: 10px;
  }
  
  #todo-list::-webkit-scrollbar-track {
      background: rgba(33, 122, 244, .1);  
  }

li{ 
    
    padding: 10px;
    
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
 
 input[type="checkbox"]:checked + label span{
    text-decoration: line-through;
}
label{
    width: 70%;
}



li button{
    margin-right: 10px;
}





input[type="submit"] {

    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;    
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
  }
  
  input[type="submit"]:hover {
    background-color: #2980b9;
  }

  button {
    /* 배경색 지정 */
    background-color: #acb8ac;
    /* 글자색 지정 */
    color: #ffffff;
    /* 패딩 조정 */
    padding: 10px 20px;
    /* 테두리 없애기 */
    border: none;
    /* 마우스 호버 시 배경색 변경 */
    transition: background-color 0.3s ease;
    /* 커서 모양 변경 */
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }


  .logout{
    position: absolute;
    left: 10px;
    top: 18px;
  }

  .logout button{
    border: none;
    background: transparent;
    color: black;
    font-size: 30px;
  }